* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}
body, html {
  height: 100%;
}

.cabecalho_menu {
  width: 100%;
  height: 80px;
  background-color: #06Aed5;
  display: flex;
  align-items: right;
}

.imagem_nav {
  width: 70px;
}

ul li {
  list-style: none;
  display: inline-block;
  line-height: 80px;
}

.cabecalho_menu_link {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  color: #F2f4f3;
  font-size: 14px;
  padding: 0 20px;
  text-align: right;
}

ul li a:hover {
  background-color: #086788;
  transition-duration: 800ms;
}

a {
  text-decoration: none;
}

.imagem_fundo {
  background-image: url("./img/background_photo.png");
  filter: blur(8px);
  height: 90%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.titulo_destaque{
  font-family: 'Dancing Script', cursive;
  color: #086788;
  top: 10%;
  left: 8%;
  width: 80%;
  padding: 30px;
  font-size: 60px;
  text-align: left;
  position: absolute;
}

.texto_principal{
  font-family: 'Dancing Script', cursive;
  color: #086788;
  top: 18%;
  left: 8%;
  width: 80%;
  padding: 30px;
  font-size: 30px;
  text-align: left;
  position: absolute;
}

.rodape{
font-family: 'Raleway', sans-serif;
position: absolute;
top: 98%;
width: 100%;
height: 19px;
background-color: #06Aed5;
display: inline-block;
align-items: right;
}

a.links {
  display: none;
}

.content {
  width: 500px;
  min-height: 560px;
  margin: 0px auto;
  position: relative;
}

p {
  margin-bottom: 15px;
}

.content p:first-child {
  margin: 0px;
}

label {
  color: #405c60;
  position: relative;
}

input {
  outline: none;
}

input:not([type="checkbox"]) {
  width: 95%;
  margin-top: 4px;
  padding: 10px;
  border: 1px solid #b2b2b2;

  border-radius: 3px;

  box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
  transition: all 0.2s linear;
}

input[type="submit"] {
  width: 100%;
  cursor: pointer;
  background: rgb(61, 157, 179);
  padding: 8px 5px;
  color: #fff;
  font-size: 20px;
  border: 1px solid #fff;
  margin-bottom: 10px;
  text-shadow: 0 1px 1px #333;
}

input[type="submit"]:hover {
  background: #4ab3c6;
}

.link {
  position: absolute;
  background: #e1eaeb;
  color: #7f7c7c;
  left: 0px;
  height: 20px;
  width: 440px;
  padding: 17px 30px 20px 30px;
  font-size: 16px;
  text-align: right;
  border-top: 1px solid #dbe5e8;
  border-radius: 0 0 5px 5px;
}

.link a {
  font-weight: bold;
  background: #f7f8f1;
  padding: 6px;
  color: rgb(29, 162, 193);
  margin-left: 10px;
  border: 1px solid #cbd518;

  transition: all 0.4s linear;
}

.link a:hover {
  color: #39bfd7;
  background: #f7f7f7;
  border: 1px solid #4ab3c6;
}

#login,
#cadastro {
  position: absolute;
  top: 0px;
  width: 88%;
  padding: 18px 6% 60px 6%;
  margin: 0 0 35px 0;
  background: #f7f7f7;
  border: 1px solid rgba(147, 184, 189, 0.8);
  border-radius: 5px;

  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-fill-mode: both;
}

#paracadastro:target~.content #cadastro,
#paralogin:target~.content #login {
  z-index: 2;
  animation-name: fadeInLeft;
  animation-delay: .1s;
}
