
<div class="container">
    <div id="recipeContainer" class="row">
      <div class="col-lg-12">
        <h2 class="recipe-title">Receitas Populares</h2>
      </div>
      <div class="col-md-4">
        <div class="recipe-container">
          <h3>Pizza Margherita</h3>
          <p>Ingredientes:</p>
          <ul>
            <li>Massa de pizza</li>
            <li>Molho de tomate</li>
            <li>Mussarela</li>
            <li>Tomate</li>
            <li>Folhas de manjericão</li>
            <li>Azeite de oliva</li>
            <li>Sal</li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="recipe-container">
          <h3>Pizza Calabresa</h3>
          <p>Ingredientes:</p>
          <ul>
            <li>Massa de pizza</li>
            <li>Molho de tomate</li>
            <li>Calabresa fatiada</li>
            <li>Cebola</li>
            <li>Mussarela</li>
            <li>Azeitonas pretas</li>
            <li>Orégano</li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="recipe-container">
          <h3>Pizza Quatro Queijos</h3>
          <p>Ingredientes:</p>
          <ul>
            <li>Massa de pizza</li>
            <li>Molho de tomate</li>
            <li>Queijo mussarela</li>
            <li>Queijo gorgonzola</li>
            <li>Queijo parmesão</li>
            <li>Queijo provolone</li>
            <li>Orégano</li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="recipe-container">
          <h3>Pizza Marguerita com Pepperoni</h3>
          <p>Ingredientes:</p>
          <ul>
            <li>Massa de pizza</li>
            <li>Molho de tomate</li>
            <li>Mussarela</li>
            <li>Fatias de pepperoni</li>
            <li>Tomate</li>
            <li>Folhas de manjericão</li>
            <li>Azeite de oliva</li>
            <li>Sal</li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
  <div class="recipe-container">
    <h3>Pizza Margherita com Rúcula</h3>
    <p>Ingredientes:</p>
    <ul>
      <li>Massa de pizza</li>
      <li>Molho de tomate</li>
      <li>Mussarela</li>
      <li>Folhas de rúcula</li>
      <li>Tomate cereja</li>
      <li>Queijo parmesão ralado</li>
      <li>Azeite de oliva</li>
      <li>Sal</li>
    </ul>
  </div>
</div>

<div class="col-md-4">
  <div class="recipe-container">
    <h3>Pizza Vegetariana</h3>
    <p>Ingredientes:</p>
    <ul>
      <li>Massa de pizza</li>
      <li>Molho de tomate</li>
      <li>Queijo mussarela</li>
      <li>Cebola</li>
      <li>Pimentão</li>
      <li>Cogumelos</li>
      <li>Tomate</li>
      <li>Azeitonas pretas</li>
      <li>Orégano</li>
    </ul>
  </div>
</div>
    </div>
  </div>